{% extends "base" %}
{% block main %}
<!-- this is the posts/default.html.j2 template-->
<div class="content container">
  <div class="post">
    <h1 class="post-title">{% if Page.Draft -%}DRAFT - {% endif -%}{{ Page.Title }}</h1>
      <span class="post-date">{{ dateformat(Page.Date, "%h %-d, %Y") }}{% if Site.Params.ReadingTime -%}&nbsp;&middot; {{ Page.readingTime() }} minute read{% endif -%}{% if Site.Params.DisqusShortname -%} &middot; <a href="{{ Page.Permalink }}#disqus_thread">Comments</a>{% endif -%}

      {% if Page.Category -%}
      <br/>
      Category:&nbsp;
      <a class="label" href="{{ categoryUrlFor(Page.Category) }}">{{ Page.Category }}</a>
      {% endif %}

      {% if Page.Tags -%}
      <br/>
      Tags:&nbsp;
      {% for tag in Page.Tags -%}<a class="label" href="{{ tagUrlFor(tag) }}">{{ tag }}</a>{% endfor -%}
      {% endif -%}
      <br>Words: {{ Page.wordCount() -}}</span>

      {% if Page.Description -%}
      <p><em>{{ Page.Description }}</em></p>
      {% endif -%}

    {{ Page.content() }}
  </div>
</div>
{% endblock %}
