{% extends "base" %}
{% block opengraph -%}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ Page.Title }}" />
{% if Page.Description -%}
<meta property="og:description" content="{{ Page.Description }}" />
{% endif -%}
{% if Site.Params.Title -%}
<meta property="og:site_name" content="{{ Site.Params.Title }}" />
{% endif -%}
<meta property="og:url" content="{{ Page.Permalink | absURL }}" />
{% if Page.Params.OpenGraph.Image -%}
<meta property="og:image" content="{{ Page.Params.OpenGraph.Image }}"
{% endif -%}
{% endblock -%}
{% block main %}
<!-- this is the posts/default.html.j2 template-->
<div class="content container">
  <div class="post">
    <h1 class="post-title">{% if Page.Draft -%}DRAFT - {% endif -%}{{ Page.Title }}</h1>
    <span class="post-date">{{ dateformat(Page.Date, "%h %-d, %Y") }}{% if Site.Params.ReadingTime -%}&nbsp;&middot; {{ Page.readingTime() }} minute read{% endif -%}{% if Page.Comments and Site.Params.useIsso %} &middot; <a href="{{ absURL(Page.Permalink) }}/#isso-thread">Comments</a>{% endif -%}

      {% if Page.Category -%}
      <br/>
      Category:&nbsp;
      <a class="label" href="{{ categoryUrlFor(Page.Category) }}">{{ Page.Category }}</a>
      {% endif %}

      {% if Page.Tags -%}
      <br/>
      Tags:&nbsp;
      {% for tag in Page.Tags -%}<a class="label" href="{{ tagUrlFor(tag) }}">{{ tag }}</a>{% endfor -%}
      {% endif -%}
      <br>Words: {{ Page.wordCount() -}}</span>

      {% if Page.Description -%}
      <p><em>{{ Page.Description }}</em></p>
      {% endif -%}

    {{ Page.content() }}

    {% if Site.Params.useIsso %}
    {% if Page.Comments %}
    <h2>Comments:</h2>
    <section id="isso-thread"></section>
    {% else %}
    <p><em>Comments are disabled for this page.</em></p>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
