{% extends "base" %}
{% block main %}
<!-- this is the posts/default.html.j2 template-->
<div class="content container">
  <div class="post">
    <h1 class="post-title">{% if Page.Draft -%}DRAFT - {% endif -%}{{ Page.Title }}</h1>
      <span class="post-date">{{ dateformat(Page.Date, "%h %-d, %Y") }}{% if Site.Params.ReadingTime -%}&nbsp;&middot; {{ Page.readingTime() }} minute read{% endif -%}&nbsp;(archived post)

      {% if Page.Categories -%}
      <br/>
      {% if length(Page.Categories) == 1 -%}Category{% else -%}Categories{% endif -%}:&nbsp;
      {% for category in Page.Categories -%}<a class="label" href="{{ categoryUrlFor(category) }}">{{ category }}</a>{% endfor -%}
      {% endif %}

      {% if Page.Tags -%}
      <br/>
      Tags:&nbsp;
      {% for tag in Page.Tags -%}<a class="label" href="{{ tagUrlFor(tag) }}">{{ tag }}</a>{% endfor -%}
      {% endif -%}
      <br>Words: {{ Page.wordCount() -}}</span>

      {% if Page.Description -%}
      <p><em>{{ Page.Description }}</em></p>
      {% endif -%}

    {{ Page.content() }}
  </div>
</div>
{% endblock %}
