{% extends "base" %}
{% block main %}
<div class="content container">
  {#<div class="post">#}
  {{ Page.content() -}}
  {#</div>#}
  <ul class="posts">
  {% for page in  sort(Pages, by="Date", reverse=True) -%}
    <li>
      {% if page.Draft -%}<span><em>Draft</em> - <span>{% endif -%}
      <a href="{{ page.Permalink }}">{{ page.Title }}</a>
      {% if page.Categories -%}
      &middot;
      {% for category in page.Categories -%}<a class="label" href="{{ categoryUrlFor(category) }}">{{ category }}{% endfor -%}</a>
      {% endif %}
      {% if page.Tags -%}
      &middot;
      {% for tag in page.Tags -%}<a class="label" href="{{ tagUrlFor(tag) }}">{{ tag }}</a>{% endfor -%}
      {% endif -%}</span>
    &middot; <time>{{ dateformat(page.Date, "%h %-d, %Y") }}</time></li>
  {% endfor -%}
  </ul>
</div>
{% endblock %}
